DATABASE_URL="postgresql://neondb_owner:npg_xh6ZqOuVwpP0@ep-ancient-glitter-anu6msbt-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
PGDATABASE="dbname"
PGHOST="hostname"
PGPORT="5432"
PGUSER="user"
PGPASSWORD="password"

SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASS="YOUR_API_KEY_HERE"
SMTP_FROM_EMAIL="noreply@mertcin.com"
SMTP_FROM_NAME="SaaS Dashboard"

CLOUDFLARE_ACCOUNT_ID="YOUR_API_KEY_HERE"
CLOUDFLARE_ACCESS_KEY_ID="YOUR_API_KEY_HERE"
CLOUDFLARE_SECRET_ACCESS_KEY="YOUR_API_KEY_HERE"
NEXT_PUBLIC_MESSAGE_BUCKET_URL="https://message-images.mertcin.com"
NEXT_PUBLIC_LISTING_BUCKET_URL="https://images.mertcin.com"
APP_URL="http://localhost:3000"
PAYTR_MERCHANT_ID="YOUR_API_KEY_HERE"
PAYTR_MERCHANT_KEY="YOUR_API_KEY_HERE"
PAYTR_MERCHANT_SALT="YOUR_API_KEY_HERE"
NEXT_PUBLIC_API_URL="http://localhost:3000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-nextauth-secret-key-here"
NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_BACKEND_URL="http://localhost:3001"
API_URL="http://localhost:3001"
PORT=3001
SESSION_SECRET="your-session-secret"
NEXT_PUBLIC_RECAPTCHA_SITE_KEY="YOUR_API_KEY_HERE"
RECAPTCHA_SECRET_KEY="YOUR_API_KEY_HERE"
CRON_SECRET="YOUR_API_KEY_HERE"
GEMINI_API_KEY="YOUR_API_KEY_HERE"
GOOGLE_CLIENT_ID="YOUR_API_KEY_HERE"
GOOGLE_CLIENT_SECRET="YOUR_API_KEY_HERE"
FACEBOOK_CLIENT_ID="YOUR_API_KEY_HERE"
FACEBOOK_CLIENT_SECRET="YOUR_API_KEY_HERE"
NEXT_PUBLIC_ADMIN_PANEL_PASSWORD="admin_password_here"
WEBHOOK_API_KEY="YOUR_API_KEY_HERE"
